
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout - Developer.cshtml";
}

<h2>About</h2>

<p>This site is being developed with the aim of truely connecting the persons involved in landscape services - everyone from landowner, designer, architect, nurserymen, and laborer. 
By granting access to our database of plant specimen, we hope to make the selection process more engaging and accessable to a range of expertise. Having this open forum will rid the design process of 
communicative issues which could prolong the project. Our service will be the ideal connecting platform to keep things transparent and straightforward from start to finish.
</p>

@Html.ActionLink("Get Started By Browsing Plants Here", "Browse", "Developer", new { }, new { @class = "Header" })