
@{
    ViewBag.Title = "Sorry";
    Layout = "~/Views/Shared/_Layout - Developer.cshtml";
}

<h2>Sorry, That was an incorrect Zipcode. You can try a news Zipcode search @Html.ActionLink("Here","SearchView","Developer") or go back to browsing plants @Html.ActionLink("Here", "Browse", "Developer")</h2>

