@using PlantScape.Models
@model IEnumerable<PlantScape.Models.ProjectsViewModel>

@{
    ViewBag.Title = "ViewQuotes";
    Layout = "~/Views/Shared/_Layout - Client.cshtml";
}

<h2>ViewQuote</h2>

<table class="table">
    <tr>
        <th>
          <label>Project Name</label>
        </th>
        <th>
          <lable>Your Design Drawing</lable>
        </th> 
        <th></th>
    </tr>

    @foreach (var model in Model)
    {
        foreach (var project in model.Projects)
        { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => project.projectName)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => project.displayImage)" alt="No Image" style="width : auto; max-height: " />
            </td>
</tr>
        }
    }
    </table>