@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>An Open Door To Your Developer</h3>
<p>
    Project GreenLight is to be your connecting site for finding plants that are guaranteed to work in your landscape. If you're the type of person that likes to get your hands dirty at all stages of a project -you can proceed to learn more about these species, and add comments about them to your landscape developer.
    This site is aimed at servicing the landscape professional while giving the client an opportunity to get active in the process.
</p>
<h3>The Ultimate Way to Interact With Your Clients</h3>
<p>
    This site is being developed with the aim of truely connecting the persons involved in landscape services - everyone from landowner, designer, architect, nurserymen, and laborer.
    By granting access to our database of plant specimen, we hope to make the selection process more engaging and accessable to a range of expertise. Having this open forum will rid the design process of
    communicative issues which could prolong the project. Our service will be the ideal connecting platform to keep things transparent and straightforward from start to finish.
</p>