<head>
    @{
    ViewBag.Title = "Home Page";
}
    <link href="~/Content/Background.css" rel="stylesheet" />
    <link href="~/Content/Fonts.css" type="text/css" rel="stylesheet" />
</head>

<h2 style="font-size: 100px; display: block; text-align:center; margin-top: 20%">Project Greenlight</h2>

<h2 style="font-family: MostlyMono; font-size: 70px; display: block; text-align:center">Green Means Grow</h2>
<h3 style="display:block; text-align:center">@Html.ActionLink("Learn More","About","Home",new { },new { })</h3>