
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout - Client.cshtml";
}

<h2>About Project GreenLight</h2>

<p>Project GreenLight is to be your connecting site for finding plants that are guaranteed to work in your landscape. If you're the type of person that likes to get your hands dirty at all stages of a project -you can proceed to learn more about these species, and add comments about them to your landscape developer.
This site is aimed at servicing the landscape professional while giving the client an opportunity to get active in the process.
</p>

<li>@Html.ActionLink("Get Started By Browsing Plants Here", "Browse", "Client", new { }, new { @class = "Header" })</li>